.faq-ctn {
	.section-head {
		.heading-2 {
			.tag {
				top: 4%;
				left: 53%;
				transform: rotate(-15deg);
				background-color: var(--lfm_lpink_2);
			}
		}
	}
}

.faq-item {
	background-color: var(--lfm_white_1);
	margin-bottom: var(--lfm_space_30);
	&:last-of-type {
		margin-bottom: 0;
	}
}

.faq-head {
	padding: var(--lfm_space_24) var(--lfm_space_30);
	font-size: var(--lfm_font_size_24);
	@include font(manrope, bold);
	letter-spacing: 0;
	border-radius: 10px;
	position: relative;
}

.faq-icon {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	margin: auto;
	margin-block-end: auto !important;
}

.faq-icon::before,
.faq-icon::after {
	content: "";
	position: absolute;
	background-color: var(--lfm_black);
	transition: transform 0.3s ease;
}

.faq-icon::before {
	top: 50%;
	left: 0;
	width: 100%;
	height: 6px;
	transform: translateY(-50%);
}

.faq-icon::after {
	top: 0;
	left: 50%;
	width: 6px;
	height: 100%;
	transform: translateX(-50%);
}

/* Add this class when active (minus state) */
.active {
	.faq-icon::after {
		transform: translateX(-50%) scaleY(0);
	}
}

.faq-content {
	display: none;
	font-size: var(--lfm_font_size_18);
	padding: 0 var(--lfm_space_24) var(--lfm_space_30) var(--lfm_space_24);
	max-width: 1030px;

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
