.widget-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px var(--lfm_space_48) 0 0;
}

.widget-right {
	padding: 0 0 0 var(--lfm_space_48);
	border-left: 3px solid rgba(0, 0, 0, 0.1);
}

.widget-row {
	a,
	a:visited {
		color: var(--lfm_black);
	}
}

.footer-widgets {
	.footer-widget {
		width: 50%;
	}
}

.footer-logo {
	max-width: 470px;
	a,
	a:visited {
		display: block;
	}

	img {
		width: 100%;
	}
}

.footer-nav {
	ul {
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;

		li {
			padding: 0;
			margin: 0 var(--lfm_space_48) 0 0;
			list-style-type: none;
			line-height: 1;

			.submenu-icon {
				display: none;
			}

			a,
			a:visited {
				font-size: var(--lfm_font_size_30);
				line-height: 1;
				position: relative;
				display: inline-block;
				color: var(--lfm_black);
				@include font(gothic, black);

				// underline effect
		&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					bottom: 0;
					left: 0;
					background-color: var(--lfm_header_nav_border_color);
					opacity: 0.8;
					transform: scaleX(0);
					transform-origin: bottom right;
					transition: transform 0.3s ease-out;
				}

				// hover / active underline animation
		&:hover::after,
				&:focus-visible::after,
				&.active::after {
					transform: scaleX(1);
					transform-origin: bottom left;
				}
			}
		}


		ul {
			padding: 20px 0 10px;

			li {
				display: block;
				margin: 0 0 14px;
				padding: 0 15px;

				&:last-child {
					margin: 0;
				}
			}
		}
	}
}

.social-links {
	a.social-link,
	a.social-link:visited {
		margin-right: var(--lfm_space_48);
		&::after {
			content: "";
			width: 14px;
			height: 14px;
			display: inline-block;
			background-image: url("../images/external-arrow.svg");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			position: relative;
			right: 0;
			margin-left: 8px;
			transition: all 0.3s ease-in-out;
			will-change: position;
		}

		&:hover {
			&::after {
				transform: translate(2px, -2px);
			}
		}
	}
}
.widget-row p{
	a:hover{
		color: grey;
	}

}
