@media only screen and (min-width: 1346px) and (max-width: 1439px) {
	.hero-default.hero-home {
		padding-top: var(--lfm_space_96);
	}
}

@media only screen and (max-width: 1280px) {
	.lead-content {
		width: 82.4%;
	}

	.section-head.d-flex {
		flex-wrap: wrap;
	}

	.section-head-heading,
	.section-head-paragraph {
		width: 100%;
	}

	.stats-ctn .heading-2 .tag {
		left: 100px;
	}

	.services-heading .tag {
		top: 0;
		left: 31%;
	}

	.hero-tags .tag-yellow {
		top: 6px;
		right: -3%;

	}

	.section-head .heading-2 {
		width: 100%;
	}
}

@media only screen and (min-width: 1180px) and (max-width: 1345px) {
}

@media only screen and (min-width: 1004px) and (max-width: 1179px) {
}

@media only screen and (max-width: 1003px) {
	.hero-image.image-cover {
		aspect-ratio: 2 / 1.5;
	}

	.video-btn {
		width: 84px;
		height: 84px;
	}

	.faq-icon {
		width: 20px;
		height: 20px;
		right: 24px;

		&::before {
			height: 3px;
		}

		&::after {
			width: 3px;
		}
	}

	.faq-heading {
		max-width: calc(100% - 32px);
	}

	.social-links {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}

	.widget-head {
		flex-wrap: wrap;
		> div {
			width: 100%;
		}
	}
	.footer-nav ul {
		row-gap: 10px;
		li {
			margin: 0 var(--lfm_space_30) 0 0;

			a,
			a:visited {
				font-size: 18px;
			}
		}
	}

	.footer-widget.widget-left {
		flex-direction: column-reverse;
		margin-bottom: 48px;
		.footer-logo {
			margin-bottom: 48px;
		}
	}

	.footer-widgets .footer-widget {
		width: 100%;
		padding: 0;
		border: 0;
		.right-align {
			text-align: left;
			br {
				display: none;
			}
		}
	}

	.image-alongside-text.two-columns {
		gap: 48px;
	}

	.iat-content {
		padding-right: 0;
	}

	.case-study-item-content {
		margin-top: 30px;
	}
	.mid-page-cta-ctn .right-align {
		text-align: left;
		margin-top: 30px;
	}

	.case-study-item-image,
	.case-study-item-content,
	.mid-page-cta-content,
	.mid-page-cta-button {
		width: 100%;
	}

	.lead-heading-area {
		width: 100%;
		margin-bottom: 36px;

		br {
			display: none;
		}
	}

	.lead-content p {
		margin-bottom: 24px;

	}
	.case-study-item,
	.case-study-item:nth-child(8n + 6),
	.case-study-item:nth-child(8n + 3) {
		width: 100%;
		position: relative;
	}

	.case-study-item:nth-child(8n + 4),
	.case-study-item:nth-child(8n + 2) {
		margin-top: 0;
	}

	.text-sliders {
		padding-bottom: var(--lfm_space_96);
	}

	.inner-slider {
		margin-top: -30px;
	}

	.services-heading .tag {
		top: -20px;
		left: 21%;
	}

	.team-member:nth-child(even) {
		.team-member-info {
			order: 2;
		}
		.team-member-image {
			order: 1;
		}
	}
}

@media only screen and (min-width: 748px) and (max-width: 1003px) {
}

@media only screen and (max-width: 747px) {
	.lead-heading-area + .s-96 {
		height: 32px !important;
	}

	.lead-content {
		margin-right: 0;
		width: 100%;
	}

	.section-head-heading .heading-2 .tag {
		top: -30px;
		left: 20%;
		transform: rotate(-15deg);
	}

	// lists
	ul.children,
	ol.children {
		li {
			&.depth-2,
			&.depth-3,
			&.depth-4,
			&.depth-5 {
				margin: 0 0 30px 20px !important;
			}
		}
	}

	// forms styling
	.gfield.half-input-field,
	.ginput_left,
	.name_first,
	.ginput_right,
	.name_last {
		width: 100%;
		margin-right: 0;
		display: block;
	}

	// Wp Table Block
	figure {
		overflow-x: scroll;

		td,
		th {
			width: 140px;
		}
	}
}

@media only screen and (min-width: 460px) and (max-width: 747px) {
}

@media only screen and (max-width: 459px) {
	.team-section-heading .tag {
		top: -30px;
	}

	.hero-tags .tag-sea-green {
		top: auto;
		left: -23px;
		transform: rotate(16.96deg);
		bottom: -20px;
	}
	// code will be starts from here
}
