@media only screen and (min-width: 1440px) and (max-width: 1495px) {

	.mid-page-cta-content .heading-2 .tag {
    bottom: 57%;
    left: 50%;

}

}
@media only screen and (min-width: 1346px) and (max-width: 1439px) {
	.footer-nav ul {
		row-gap: 10px;}
	.mid-page-cta-content .heading-2 .tag {
    bottom: 57%;
    left: 53%;
}
	.hero-default.hero-home {
		padding-top: var(--lfm_space_96);
	}
}

@media only screen and (max-width: 1280px) {
.hero-tags .tag-sea-green {
    top: 41%;
    left: -23px;

}
	.mid-page-cta-content .heading-2 .tag {
    bottom: 57%;
    left: 58%;
}
	.lead-content {
		width: 82.4%;
	}

	.section-head.d-flex {
		flex-wrap: wrap;
	}

	.section-head-heading,
	.section-head-paragraph {
		width: 100%;
	}

	.stats-ctn .heading-2 .tag {
        top: -5%;
        left: -3%;
	}

	.services-heading .tag {
	top: 19%;
        left: 51%;

	}

	.hero-tags .tag-yellow {
		top: 6px;
		right: -3%;

	}

	.section-head .heading-2 {
		width: 100%;

	}
	.lead-heading-area {
	width: 100%;
	margin-bottom: 20px;

}


}

@media only screen and (min-width: 1180px) and (max-width: 1345px) {
	.footer-nav ul {
		row-gap: 10px;
		li {
			margin: 0 var(--lfm_space_30) 0 0;

a,
			a:visited {
				font-size: 26px;
			}
		}
	}

}

@media only screen and (min-width: 1004px) and (max-width: 1179px) {
	.talk-heading .tag {

    top: -4%;
    left: 7%;}
	.footer-nav ul {
		row-gap: 10px;
		li {
			margin: 0 var(--lfm_space_30) 0 0;

			a,
			a:visited {
				font-size: 18px;
			}
		}
	}
}

@media only screen and (max-width: 1003px) {
	.tag{
		font-size: 14px;
	}
	.faq-ctn .section-head .heading-2 .tag {
    top: 1%;
    }

	.mid-page-cta-content .heading-2 .tag {
    bottom: 36%;
    left: 41%;
}
	.hero-image.image-cover {
		aspect-ratio: 2 / 1.5;
	}

	.video-btn {
		width: 84px;
		height: 84px;
	}

	.faq-icon {
		width: 20px;
		height: 20px;
		right: 24px;

		&::before {
			height: 3px;
		}

		&::after {
			width: 3px;
		}
	}

	.faq-heading {
		max-width: calc(100% - 32px);
	}

	.social-links {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}

	.widget-head {
		flex-wrap: wrap;
		> div {
			width: 100%;
		}
	}
	.footer-nav ul {
		row-gap: 10px;
		li {
			margin: 0 var(--lfm_space_30) 0 0;

			a,
			a:visited {
				font-size: 18px;
			}
		}
	}

	.footer-widget.widget-left {
		flex-direction: column-reverse;
		margin-bottom: 48px;
		.footer-logo {
			margin-bottom: 48px;
		}
	}

	.footer-widgets .footer-widget {
		width: 100%;
		padding: 0;
		border: 0;
		.right-align {
			text-align: left;
			br {
				display: none;
			}
		}
	}

	.image-alongside-text.two-columns {
		gap: 48px;
	}

	.iat-content {
		padding-right: 0;
	}

	.case-study-item-content {
		margin-top: 30px;
	}
	.mid-page-cta-ctn .right-align {
		text-align: left;
		margin-top: 30px;
	}

	.case-study-item-image,
	.case-study-item-content,
	.mid-page-cta-content,
	.mid-page-cta-button {
		width: 100%;
	}

	.lead-heading-area {
		width: 100%;
		margin-bottom: 36px;

		br {
			display: none;
		}
	}

	.lead-content p {
		margin-bottom: 24px;

	}
	.case-study-item,
	.case-study-item:nth-child(8n + 6),
	.case-study-item:nth-child(8n + 3) {
		width: 100%;
		position: relative;
	}

	.case-study-item:nth-child(8n + 4),
	.case-study-item:nth-child(8n + 2) {
		margin-top: 0;
	}

	.text-sliders {
		padding-bottom: var(--lfm_space_96);
	}

	.inner-slider {
		margin-top: -30px;
	}
.services-heading .tag {
        top: 13px;
        left: 52%;
    }

	.team-member:nth-child(even) {
		.team-member-info {
			order: 2;
		}
		.team-member-image {
			order: 1;
		}
	}
}
@media only screen and (min-width: 748px) and (max-width: 840px) {
	.faq-ctn .section-head .heading-2 .tag {
	top: -4%;
	left: 53%;
}
}
@media only screen and (min-width: 748px) and (max-width: 1003px) {
.talk-heading .tag {

    top: -8%;
    left: 14%;}
}

@media only screen and (max-width: 747px) {
	.stats-ctn .heading-2 .tag {
        top: -7%;
        left: -3%;
    }
	.hero-tags .tag-sea-green {
    top: 38%;
    left: -23px;

}
	.tag{
		font-size: 12px;
	}
	.services-heading .tag {
        top: 4px;
        left: 51%;
    }
.talk-heading .tag {

    top: -25%;
    left: 21%;}
		.faq-ctn .section-head .heading-2 .tag {
	top: -6%;
	left: 53%;
}


	.lead-heading-area + .s-96 {
		height: 32px !important;
	}

	.lead-content {
		margin-right: 0;
		width: 100%;
	}

	.section-head-heading .heading-2 .tag {
		top: -30px;
		left: 20%;
		transform: rotate(-15deg);
	}

	// lists
	ul.children,
	ol.children {
		li {
			&.depth-2,
			&.depth-3,
			&.depth-4,
			&.depth-5 {
				margin: 0 0 30px 20px !important;
			}
		}
	}

	// forms styling
	.gfield.half-input-field,
	.ginput_left,
	.name_first,
	.ginput_right,
	.name_last {
		width: 100%;
		margin-right: 0;
		display: block;
	}

	// Wp Table Block
	figure {
		overflow-x: scroll;

		td,
		th {
			width: 140px;
		}
	}
}
@media only screen and (min-width: 463px) and (max-width: 747px) {
    .hero-tags .tag-yellow {
        top: -8px;
        right: -3%;
    }


}

@media only screen and (min-width: 460px) and (max-width: 747px) {
    .mid-page-cta-content .heading-2 .tag {
        left: 42%;
    }
   .section-head-heading .heading-2 .tag {
        top: -9px;
        left: 40%;

    }
}

@media only screen and (min-width: 463px) and (max-width: 659px) {
 .hero-tags .tag-sea-green {
        top: 30%
    }
	.services-heading .tag {
        top: -12px;
        left: 47%;
    }
	.stats-ctn .heading-2 .tag {
        top: -9%;
        left: -3%;
    }
}
@media only screen and (max-width: 462px)
{
	    .services-heading .tag {
        top: -12px;
        left: 47%;
    }
 .hero-tags .tag-yellow {
        top: 28%;
        right: 35%;
    }

	.hero-tags .tag-sea-green {
		top: auto;
		bottom: 36px;
	}
}

@media only screen and (max-width: 459px) {
	    .stats-ctn .heading-2 .tag {
        top: -10%;
        left: -3%;
    }
	    .section-head-heading .heading-2 .tag {
        top: -17px;
        left: 40%;

    }
	.team-section-heading .tag {
		top: -30px;
	}
    .talk-heading .tag {
        top: -45%
    }
	.hero-tags .tag-sea-green {
		top: auto;
		left: -23px;
		bottom:30%
		// transform: rotate(16.96deg);

	}
	// code will be starts from here
}
